.showName {
    color: red;
}

.DoNotShowName {
    display:none;
}

.showPhone {
    color: red;
}

.DoNotShowPhone {
    display:none;
}

.showMail {
    color: red;
}

.DoNotShowMail {
    display:none;
}